services:
  - type: web
    name: expense-tracker-api
    runtime: java
    buildCommand: ./gradlew clean build -x test
    startCommand: java -jar build/libs/expense-tracker-0.0.1-SNAPSHOT.jar
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: JWT_SECRET
        sync: false